.marvin255bxcontent-selector-block select,
.marvin255bxcontent-selector-block button {
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em 0 0;
    cursor: pointer;
}


.marvin255bxcontent-snippets-snippet {
    margin: 0 0 1em;
    border: 2px solid #e0e8ea;
    border-radius: 10px;
    position: relative;
}
.marvin255bxcontent-snippets-snippet:hover {
    border: 2px solid #a3a5a5;
}
.marvin255bxcontent-snippets-snippet-remove {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    line-height: 1;
    display: block;
}
.marvin255bxcontent-snippets-snippet-header {
    color: #000;
    padding: 1em 1em 0;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 1em;
}
